   body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: white;
            color:dimgrey;
        }
header {
    position: fixed;
    top:0px;
    bottom:90%;
    width: 100%;
    color: white;
    background-color:darkcyan;
     overflow: scroll;
}
h3  {
    text-align:center;
}
  div#fullpage {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

   div#data {
   
    overflow: scroll;
    margin-top:50px;
  }

  button {
     font-size: 18px;
     position:relative;
     top:60px;
      overflow:hidden;
 }

a {
     position:fixed;
    top:20px;
    left:30px;
}
span {
    color:deepskyblue;
    font-size:23px;
}
span:hover {
    color:dodgerblue;
}

.logout {
    position:relative;
    left:300px;
    top :-35px;
    color:deepskyblue;
    font-size:20px;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    color:white;
    background-color:dimgray;
    text-align: center;
}